URxvt*foreground: #bbffbb
URxvt*background: #101020
URxvt*highlightColor: #ffbbbb
URxvt*highlighttextColor: #201010
URxvt*color0: #101020
URxvt*color1: #ff5555
URxvt*color2: #55ff55
URxvt*color3: #bbbb55
URxvt*color4: #5555ff
URxvt*color5: #bb55bb
URxvt*color6: #bbbbff
URxvt*color7: #eeeeee
URxvt*color8: #202030
URxvt*color9: #ffaaaa
URxvt*color10: #aaffaa
URxvt*color11: #ffff99
URxvt*color12: #bbbbff
URxvt*color13: #ff99ff
URxvt*color14: #eeeeff
URxvt*color15: #ffffff
URxvt*reverseVideo: false
URxvt*scrollBar: false
URxvt*saveLines: 10000
URxvt*externalBorder: 0
URxvt*cursorBlink: true
